#primaryViewContainer {
	-fx-background-color: #000000;
	-fx-text-fill: #FFFFFF;
	-fx-pref-width: 800;
	-fx-pref-height: 640;
}

#commonPanel {
	-fx-border-color: #000000;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
}

#primaryTabGeneral {
	-fx-text-fill: #FFFFFF;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.0;
}

.tab-pane {
	-fx-tab-min-width: 150.0px;
	-fx-text-fill: #FFFFFF;
}

.tab-header-area {
	-fx-border-color: #3c3c3c;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
}

.tab {
	-fx-background-insets: 0.0 1.0 0.0 1.0, 0.0, 0.0;
}

.tab-pane .tab {
	-fx-background-color: #e6e6e6;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.tab-pane .tab:selected {
	-fx-background-color: #3c3c3c;
	-fx-border-width: 0 0 0 0;
}

.tab .tab-label { 
	-fx-alignment: CENTER;
	-fx-text-fill: #000000;
	-fx-font-size: 12.0px;
	-fx-font-weight: bold;
}

.tab:selected .tab-label { 
	-fx-alignment: CENTER;
	-fx-text-fill: #00af00;
}
