.white-label {
	-fx-text-fill: #FFFFFF;
}

.red-label {
	-fx-text-fill: #ff1e1e;
}

.green-label {
	-fx-text-fill: #04ff00;
}

.log {
	-fx-text-fill: #FFFFFF;
}

.log .content {
	-fx-background: #3F4042;
	-fx-background-color: #3F4042;
	-fx-border-color: white;
	-fx-border-width: 1 0 1 0;
}
